/*Variables*/
/* estilos generales */
.header {
  color: white;
  background-color: #89beb3;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly; }
  .header #header__envios {
    text-align: left;
    display: inline;
    word-spacing: 20px;
    font-size: 20px;
    text-transform: uppercase;
    animation-name: animacion_header;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s; }
  .header #header__logo {
    text-align: center;
    display: inline; }
    .header #header__logo #logo {
      width: 50px;
      height: 50px;
      margin-top: 5px; }
  .header #header__cuotas {
    text-align: right;
    display: inline;
    word-spacing: 20px;
    font-size: 20px;
    text-transform: uppercase;
    animation-name: animacion_header;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s; }

@keyframes animacion_header {
  0% {
    color: #89beb3; }
  25% {
    color: white; }
  50% {
    color: #89beb3; }
  100% {
    color: white; } }

.header2 {
  color: white;
  background-color: #625261;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly; }
  .header2 #header__envios {
    text-align: left;
    display: inline;
    word-spacing: 20px;
    font-size: 20px;
    text-transform: uppercase;
    animation-name: animacion_header2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s; }
  .header2 #header__logo {
    text-align: center;
    display: inline; }
    .header2 #header__logo #logo {
      width: 50px;
      height: 50px;
      margin-top: 5px; }
  .header2 #header__cuotas {
    text-align: right;
    display: inline;
    word-spacing: 20px;
    font-size: 20px;
    text-transform: uppercase;
    animation-name: animacion_header2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s; }

@keyframes animacion_header2 {
  0% {
    color: #625261; }
  25% {
    color: white; }
  50% {
    color: #625261; }
  100% {
    color: white; } }

.menu {
  text-align: center; }
  .menu .secciones {
    text-decoration-line: none;
    word-spacing: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #89beb3; }
    .menu .secciones:hover {
      color: #835858; }
  .menu .categorias {
    display: inline;
    padding-left: 3px;
    padding-right: 3px; }

.cajaCarrito {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  transform: translate(-100px, 0px); }
  .cajaCarrito #carrito {
    text-align: right;
    margin-right: 60px; }
    .cajaCarrito #carrito .fotoCarrito {
      width: 40px;
      height: 40px;
      transform: translate(40px, 0px); }
  .cajaCarrito #botonCarrito {
    transform: none;
    color: #89beb3;
    border-color: #89beb3;
    width: 70px;
    margin: none; }

#barra {
  margin-left: 100px;
  transform: translate(-70px, -90px); }

#botonBarra {
  transform: translate(-70px, -90px);
  color: #89beb3;
  border-color: #89beb3; }

.titulos {
  font-family: 'Caveat', cursive;
  text-align: center;
  color: #89beb3;
  font-size: 50px;
  margin-bottom: 140px; }

#titulos2 {
  color: #625261;
  margin-bottom: 140px; }

footer {
  background-color: #835858;
  margin-top: 90px; }

#cajaFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline; }
  #cajaFooter .cajaAtencion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
    #cajaFooter .cajaAtencion .telefono {
      color: white;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase; }
    #cajaFooter .cajaAtencion .infoFooter1 {
      margin: none;
      color: white; }
    #cajaFooter .cajaAtencion .infoFooter2 {
      margin: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      color: white; }
      #cajaFooter .cajaAtencion .infoFooter2 #fotoTelefono {
        display: inline;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        margin-bottom: 3px; }
  #cajaFooter .cajaRedes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-top: 10px; }
    #cajaFooter .cajaRedes .redes {
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 20px; }
    #cajaFooter .cajaRedes .fotosFooter {
      display: inline;
      padding: 0px; }
      #cajaFooter .cajaRedes .fotosFooter .fotosRedes {
        display: inline;
        padding: 0px; }
        #cajaFooter .cajaRedes .fotosFooter .fotosRedes #facebook {
          width: 50px;
          height: 50px;
          margin: 0px; }
        #cajaFooter .cajaRedes .fotosFooter .fotosRedes #instagram {
          width: 50px;
          height: 50px; }
        #cajaFooter .cajaRedes .fotosFooter .fotosRedes #twitter {
          width: 50px;
          height: 50px; }

/* pagina principal */
#titulo {
  color: #835858;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-bottom: 130px; }

.cuerpos {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #625261; }

/* Conjuntos */
.conjuntos1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .conjuntos1 .cajaConjuntos:hover {
    transform: scale(1, 1.1); }
  .conjuntos1 .fotosConjuntos {
    width: 300px;
    height: 500px; }
  .conjuntos1 .orquidea {
    text-align: center; }
    .conjuntos1 .orquidea .nombres1 {
      font-size: 20px;
      margin-right: 0px; }
    .conjuntos1 .orquidea .precios1 {
      font-size: 18px; }
    .conjuntos1 .orquidea #boton1 {
      background-color: #89beb3;
      border-color: #89beb3; }
  .conjuntos1 .amapola {
    text-align: center; }
    .conjuntos1 .amapola .nombres1 {
      font-size: 20px;
      margin-right: 0px; }
    .conjuntos1 .amapola .precios1 {
      font-size: 18px; }
    .conjuntos1 .amapola #boton2 {
      background-color: #89beb3;
      border-color: #89beb3; }
  .conjuntos1 .jazmin {
    text-align: center; }
    .conjuntos1 .jazmin .nombres1 {
      font-size: 20px;
      margin-right: 0px; }
    .conjuntos1 .jazmin .precios1 {
      font-size: 18px; }
    .conjuntos1 .jazmin #boton3 {
      background-color: #89beb3;
      border-color: #89beb3; }
  .conjuntos1 .dalia {
    text-align: center; }
    .conjuntos1 .dalia .nombres1 {
      font-size: 20px;
      margin-right: 0px; }
    .conjuntos1 .dalia .precios1 {
      font-size: 18px; }
    .conjuntos1 .dalia #boton4 {
      background-color: #89beb3;
      border-color: #89beb3; }

.conjuntos2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .conjuntos2 .cajaConjuntos:hover {
    transform: scale(1, 1.1); }
  .conjuntos2 .fotosConjuntos {
    width: 300px;
    height: 500px; }
  .conjuntos2 .hortensia {
    text-align: center; }
    .conjuntos2 .hortensia .nombres1 {
      font-size: 20px;
      margin-right: 0px; }
    .conjuntos2 .hortensia .precios1 {
      font-size: 18px; }
    .conjuntos2 .hortensia #boton5 {
      background-color: #89beb3;
      border-color: #89beb3; }
  .conjuntos2 .iris {
    text-align: center; }
    .conjuntos2 .iris .nombres1 {
      font-size: 20px;
      margin-right: 0px; }
    .conjuntos2 .iris .precios1 {
      font-size: 18px; }
    .conjuntos2 .iris #boton6 {
      background-color: #89beb3;
      border-color: #89beb3; }
  .conjuntos2 .girasol {
    text-align: center; }
    .conjuntos2 .girasol .nombres1 {
      font-size: 20px;
      margin-right: 0px; }
    .conjuntos2 .girasol .precios1 {
      font-size: 18px; }
    .conjuntos2 .girasol #boton7 {
      background-color: #89beb3;
      border-color: #89beb3; }
  .conjuntos2 .narciso {
    text-align: center; }
    .conjuntos2 .narciso .nombres1 {
      font-size: 20px;
      margin-right: 0px; }
    .conjuntos2 .narciso .precios1 {
      font-size: 18px; }
    .conjuntos2 .narciso #boton8 {
      background-color: #89beb3;
      border-color: #89beb3; }

.talles {
  text-align: center; }
  .talles #duda {
    color: #835858;
    margin-top: 160px; }
  .talles #tablaTalles {
    color: #835858;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder; }
  .talles .table-responsive {
    display: flex;
    justify-content: center; }
    .talles .table-responsive .table-bordered {
      padding: 10px;
      width: 45%; }
      .talles .table-responsive .table-bordered .textoTabla {
        text-align: center;
        height: 30px; }

/* Pijamas */
.pijamas1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .pijamas1 .cajaPijamas:hover {
    transform: scale(1, 1.1); }
  .pijamas1 .fotosPijamas {
    width: 400px;
    height: 600px; }
  .pijamas1 .belladona {
    text-align: center; }
    .pijamas1 .belladona .nombres2 {
      font-size: 20px; }
    .pijamas1 .belladona .precios2 {
      font-size: 18px; }
    .pijamas1 .belladona #boton9 {
      background-color: #835858;
      border-color: #835858; }
  .pijamas1 .fresia {
    text-align: center; }
    .pijamas1 .fresia .nombres2 {
      font-size: 20px; }
    .pijamas1 .fresia .precios2 {
      font-size: 18px; }
    .pijamas1 .fresia #boton10 {
      background-color: #835858;
      border-color: #835858; }

.pijamas2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .pijamas2 .cajaPijamas:hover {
    transform: scale(1, 1.1); }
  .pijamas2 .fotosPijamas {
    width: 400px;
    height: 600px; }
  .pijamas2 .peonia {
    text-align: center; }
    .pijamas2 .peonia .nombres2 {
      font-size: 20px; }
    .pijamas2 .peonia .precios2 {
      font-size: 18px; }
    .pijamas2 .peonia #boton11 {
      background-color: #835858;
      border-color: #835858; }
  .pijamas2 .jacinto {
    text-align: center; }
    .pijamas2 .jacinto .nombres2 {
      font-size: 20px; }
    .pijamas2 .jacinto .precios2 {
      font-size: 18px; }
    .pijamas2 .jacinto #boton12 {
      background-color: #835858;
      border-color: #835858; }

/* Sale */
.bombis {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly; }
  .bombis .cajaBombis:hover {
    transform: scale(1, 1.1); }
  .bombis .fotosBombis {
    width: 400px;
    height: 600px;
    border: dotted 5px #625261;
    animation-name: animacion_borde;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 0s; }

@keyframes animacion_borde {
  0% {
    border-color: #625261; }
  25% {
    border-color: white; }
  50% {
    border-color: #625261; }
  100% {
    border-color: white; } }
  .bombis .laurel {
    text-align: center; }
    .bombis .laurel .nombres4 {
      font-size: 20px; }
    .bombis .laurel .precios4 {
      font-size: 18px; }
    .bombis .laurel #boton13 {
      background-color: #625261;
      border-color: #625261; }
  .bombis .margarita {
    text-align: center; }
    .bombis .margarita .nombres4 {
      font-size: 20px; }
    .bombis .margarita .precios4 {
      font-size: 18px; }
    .bombis .margarita #boton14 {
      background-color: #625261;
      border-color: #625261; }
  .bombis .clavel {
    text-align: center; }
    .bombis .clavel .nombres4 {
      font-size: 20px; }
    .bombis .clavel .precios4 {
      font-size: 18px; }
    .bombis .clavel #boton15 {
      background-color: #625261;
      border-color: #625261; }

#promo {
  text-align: center;
  color: #835858;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
  background-color: #89beb3;
  margin-top: 160px;
  padding: 20px; }

.promoPijamas1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .promoPijamas1 .cajaPromo:hover {
    transform: scale(1, 1.1); }
  .promoPijamas1 .fotosPromo {
    width: 500px;
    height: 600px; }
  .promoPijamas1 .azahar {
    text-align: center; }
    .promoPijamas1 .azahar .nombres3 {
      font-size: 20px; }
    .promoPijamas1 .azahar .precios3 {
      font-size: 18px; }
    .promoPijamas1 .azahar #boton16 {
      background-color: #625261;
      border-color: #625261; }
  .promoPijamas1 .lirio {
    text-align: center; }
    .promoPijamas1 .lirio .nombres3 {
      font-size: 20px; }
    .promoPijamas1 .lirio .precios3 {
      font-size: 18px; }
    .promoPijamas1 .lirio #boton17 {
      background-color: #625261;
      border-color: #625261; }

.promoPijamas2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px; }
  .promoPijamas2 .cajaPromo:hover {
    transform: scale(1, 1.1); }
  .promoPijamas2 .fotosPromo {
    width: 500px;
    height: 600px; }
  .promoPijamas2 .magnolia {
    text-align: center; }
    .promoPijamas2 .magnolia .nombres3 {
      font-size: 20px; }
    .promoPijamas2 .magnolia .precios3 {
      font-size: 18px; }
    .promoPijamas2 .magnolia #boton18 {
      background-color: #625261;
      border-color: #625261; }

/* Sucursales */
.sucursales {
  font-family: 'Oswald', sans-serif;
  color: #835858;
  letter-spacing: 4px;
  font-size: 20px; }

#contact {
  color: #89beb3;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 90px; }

.cajaContacto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 50px; }
  .cajaContacto #formulario {
    text-align: center; }
  .cajaContacto .mapa {
    width: 400px;
    height: 500px; }

.grid {
  display: grid;
  align-content: center;
  justify-items: center;
  border: double 5px #625261;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 10px;
  grid-row-gap: 20px;
  grid-template-areas: "sucursal1 sucursal2" "direccion1 direccion2" "telefono1 telefono2" "horario1 horario2"; }
  .grid #sucursal1 {
    grid-area: sucursal1; }
  .grid #sucursal2 {
    grid-area: sucursal2; }
  .grid #direccion1 {
    grid-area: direccion1; }
  .grid #direccion2 {
    grid-area: direccion2; }
  .grid #telefono1 {
    grid-area: telefono1; }
  .grid #telefono2 {
    grid-area: telefono2; }
  .grid #horario1 {
    grid-area: horario1; }
  .grid #horario2 {
    grid-area: horario2; }

/* Version Mobile */
@media only screen and (max-width: 600px) {
  .header {
    color: white;
    background-color: #89beb3;
    height: 12vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    .header #header__logo {
      text-align: center;
      margin: 0px; }
      .header #header__logo #logo {
        width: 50px;
        height: 50px;
        margin: 0px; }
  .header2 {
    color: white;
    background-color: #625261;
    height: 12vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    .header2 #header__logo {
      text-align: center;
      margin-left: 0px; }
      .header2 #header__logo #logo {
        width: 50px;
        height: 50px;
        margin: 0px; }
  .bg-lila {
    color: #835858;
    background-color: #835858; }
  .cajaCarrito {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    transform: none;
    margin-top: 15px; }
    .cajaCarrito #carrito {
      text-align: right;
      margin-right: 60px; }
      .cajaCarrito #carrito .fotoCarrito {
        width: 40px;
        height: 40px;
        transform: translate(40px, 0px); }
    .cajaCarrito #botonCarrito {
      transform: none;
      color: #89beb3;
      border-color: #89beb3;
      width: 70px;
      margin: none; }
  #barra {
    margin: 0px;
    transform: translate(30px, -45px);
    width: 120px;
    height: 30px; }
  #botonBarra {
    transform: translate(50px, -45px);
    height: 30px; }
  /*Conjuntos*/
  .conjuntos1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .conjuntos1 .fotosConjuntos {
      width: 300px;
      height: 500px;
      margin-top: 30px; }
  .conjuntos2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .conjuntos2 .fotosConjuntos {
      width: 300px;
      height: 500px;
      margin-top: 30px; }
  /*Pijamas*/
  .pijamas1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .pijamas1 .fotosPijamas {
      width: 300px;
      height: 500px;
      margin-top: 30px; }
  .pijamas2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .pijamas2 .fotosPijamas {
      width: 300px;
      height: 500px;
      margin-top: 30px; }
  /*Sale*/
  .bombis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .bombis .fotosBombis {
      width: 300px;
      height: 500px;
      margin-top: 30px; }
  .promoPijamas1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .promoPijamas1 .fotosPromo {
      width: 300px;
      height: 400px;
      margin-top: 30px; }
  .promoPijamas2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px; }
    .promoPijamas2 .fotosPromo {
      width: 300px;
      height: 400px; }
  /*Sucursales*/
  .sucursales {
    font-family: 'Oswald', sans-serif;
    color: #835858;
    letter-spacing: none;
    font-size: 20px; }
  .grid {
    display: grid;
    align-content: center;
    justify-items: center;
    grid-row-gap: 20px;
    grid-template-areas: "sucursal1" "direccion1" "telefono1" "horario1" "sucursal2" "direccion2" "telefono2" "horario2"; }
    .grid #sucursal1 {
      grid-area: sucursal1; }
    .grid #sucursal2 {
      grid-area: sucursal2; }
    .grid #direccion1 {
      grid-area: direccion1; }
    .grid #direccion2 {
      grid-area: direccion2; }
    .grid #telefono1 {
      grid-area: telefono1; }
    .grid #telefono2 {
      grid-area: telefono2; }
    .grid #horario1 {
      grid-area: horario1; }
    .grid #horario2 {
      grid-area: horario2; }
  #cajaFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px;
    margin-left: 20px;
    justify-content: none;
    align-items: none; }
    #cajaFooter .cajaAtencion {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start; }
      #cajaFooter .cajaAtencion .telefono {
        color: white;
        font-weight: bold;
        text-decoration: underline; }
      #cajaFooter .cajaAtencion .infoFooter1 {
        margin: none;
        color: white; }
      #cajaFooter .cajaAtencion .infoFooter2 {
        margin: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        color: white; }
        #cajaFooter .cajaAtencion .infoFooter2 #fotoTelefono {
          display: inline;
          width: 30px;
          height: 30px;
          margin-right: 5px;
          margin-bottom: 3px; }
    #cajaFooter .cajaRedes {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 0px;
      margin-top: 10px; }
      #cajaFooter .cajaRedes .redes {
        text-align: none;
        color: white;
        margin: 0px;
        font-weight: bold;
        text-decoration: underline;
        display: inline-block; }
      #cajaFooter .cajaRedes .fotosFooter {
        text-align: none;
        margin: 0px;
        display: inline;
        padding: 0px; }
        #cajaFooter .cajaRedes .fotosFooter .fotosRedes {
          display: inline;
          padding: 0px; }
          #cajaFooter .cajaRedes .fotosFooter .fotosRedes #facebook {
            width: 50px;
            height: 50px;
            margin: 0px; }
          #cajaFooter .cajaRedes .fotosFooter .fotosRedes #instagram {
            width: 50px;
            height: 50px; }
          #cajaFooter .cajaRedes .fotosFooter .fotosRedes #twitter {
            width: 50px;
            height: 50px; } }

/*Version tablet*/
@media (min-width: 570px) and (max-width: 900px) {
  .header {
    height: 12vh; }
    .header #header__envios {
      word-spacing: 15px;
      font-size: 15px; }
    .header #header__logo #logo {
      width: 45px;
      height: 45px;
      margin-top: 0px; }
    .header #header__cuotas {
      word-spacing: 15px;
      font-size: 15px; }
  .header2 {
    height: 12vh; }
    .header2 #header__envios {
      word-spacing: 15px;
      font-size: 15px; }
    .header2 #header__logo #logo {
      width: 45px;
      height: 45px;
      margin-top: 0px; }
    .header2 #header__cuotas {
      word-spacing: 15px;
      font-size: 15px; }
  .cajaCarrito {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    transform: none; }
    .cajaCarrito #carrito {
      text-align: right;
      margin-right: 60px; }
      .cajaCarrito #carrito .fotoCarrito {
        width: 40px;
        height: 40px;
        transform: translate(40px, 0px); }
    .cajaCarrito #botonCarrito {
      transform: none;
      color: #89beb3;
      border-color: #89beb3;
      width: 70px;
      margin: none; }
  #barra {
    transform: translate(-70px, -70px); }
  #botonBarra {
    transform: translate(-70px, -70px); } }
