/*Variables*/

$color-aqua: #89beb3;
$color-lila: #835858;
$color-violeta: #625261;
$color-blanco: white;
$color-negro: black;

/* estilos generales */

.header {
    color: $color-blanco;
    background-color: $color-aqua;
    height: 12vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

    #header__envios {
        text-align: left;
        display: inline;
        word-spacing: 20px;
        font-size: 20px;
        text-transform: uppercase;
        animation-name: animacion_header;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 4s;
        animation-delay: 0s;
    }
    
    #header__logo {
        text-align: center;
        display: inline;

        #logo {
            width: 50px;
            height: 50px;
            margin-top: 5px;
        }
    }
    
    #header__cuotas {
        text-align: right;
        display: inline;
        word-spacing: 20px;
        font-size: 20px;
        text-transform: uppercase;
        animation-name: animacion_header;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 4s;
        animation-delay: 0s;
    }

    @keyframes animacion_header {
        0%   {color: $color-aqua;}
        25%  {color: $color-blanco;}
        50%  {color: $color-aqua;}
        100% {color: $color-blanco;}
    }
}


.header2 {
    color: $color-blanco;
    background-color: $color-violeta;
    height: 12vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

    #header__envios {
        text-align: left;
        display: inline;
        word-spacing: 20px;
        font-size: 20px;
        text-transform: uppercase;
        animation-name: animacion_header2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 4s;
        animation-delay: 0s;
    }
    
    #header__logo {
        text-align: center;
        display: inline;

        #logo {
            width: 50px;
            height: 50px;
            margin-top: 5px;
        }
    }
    
    #header__cuotas {
        text-align: right;
        display: inline;
        word-spacing: 20px;
        font-size: 20px;
        text-transform: uppercase;
        animation-name: animacion_header2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 4s;
        animation-delay: 0s;
    }

    @keyframes animacion_header2 {
        0%   {color: $color-violeta;}
        25%  {color: $color-blanco;}
        50%  {color: $color-violeta;}
        100% {color: $color-blanco;}
    }
}

nav {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.menu {
    text-align: center;
    margin-top: 50px;
    background-color: $color-blanco;
    padding-bottom: 20px;
    padding-top: 20px;

    .secciones {
        text-decoration-line: none;
        word-spacing: 50px;
        font-family:'Montserrat', sans-serif;
        font-weight: bold;
        color: $color-aqua;
        &:hover {
            color: $color-lila;
        }
    }
    
    .categorias {
        display:inline; 
        padding-left:3px; 
        padding-right:3px;
    }
}

.cajaCarrito {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    transform: translate(-100px, 0px);

    #carrito {
        text-align: right;
        margin-right: 60px;

        .fotoCarrito {
            width: 40px;
            height: 40px;
            transform: translate(40px, 0px);
        }
    }
    

    #botonCarrito {
        transform: none;
        color: $color-aqua;
        border-color: $color-aqua;
        width: 70px;
        margin: none;
    }
}

#barra {
    margin-left: 100px;
    transform: translate(-70px, -90px);
}

#botonBarra {
    transform: translate(-70px, -90px);
    color: $color-aqua;
    border-color: $color-aqua;
}

.titulos {
    font-family: 'Caveat', cursive;
    text-align: center;
    color: $color-aqua;
    font-size: 50px;
    margin-bottom: 140px;
}

#titulos2 {
    color: $color-violeta;
    margin-bottom: 140px;
}


footer {
    background-color: $color-lila;
    margin-top: 90px;
}

#cajaFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    
    .cajaAtencion {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

        .telefono {
            color: $color-blanco;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
        }

        .infoFooter1 {
            margin: none;
            color: $color-blanco;
        }
    
        .infoFooter2 {
            margin: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            color: $color-blanco;

            #fotoTelefono {
                display: inline;
                width: 30px;
                height: 30px;
                margin-right: 5px;
                margin-bottom: 3px;
            }
        }
    }

    .cajaRedes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        margin-top: 10px;

        .redes {
            color: $color-blanco;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
        }
        
        .fotosFooter {
            display: inline;
            padding: 0px;

            .fotosRedes {
                display: inline;
                padding: 0px;

                #facebook {
                    width: 50px;
                    height: 50px;
                    margin: 0px;
                }

                #instagram {
                    width: 50px;
                    height: 50px;
                }

                #twitter {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}


/* pagina principal */

#titulo {
    color: $color-lila;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-bottom: 130px;
}

.cuerpos {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $color-violeta;
}


/* Conjuntos */

.conjuntos1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    .cajaConjuntos {
        &:hover {
            transform: scale(1, 1.1);
        }
    }

    .fotosConjuntos {
        width: 300px;
        height: 500px;
    }

    .orquidea {
        text-align: center;

        .nombres1 {
            font-size: 20px;
        }

        .precios1 {
            font-size: 18px; 
        }

        #boton1 {
            background-color: $color-aqua;
            border-color: $color-aqua;
        }
         
    }    
    
    .amapola {
        text-align: center;

        .nombres1 {
            font-size: 20px;
        }

        .precios1 {
            font-size: 18px; 
        }

        #boton2 {
            background-color: $color-aqua;
            border-color: $color-aqua;
        }
    }

    .jazmin {
        text-align: center;

        .nombres1 {
            font-size: 20px;
        }

        .precios1 {
            font-size: 18px; 
        }

        #boton3 {
            background-color: $color-aqua;
            border-color: $color-aqua;
        }
    }

    .dalia {
        text-align: center;

        .nombres1 {
            font-size: 20px;
        }

        .precios1 {
            font-size: 18px; 
        }

        #boton4 {
            background-color: $color-aqua;
            border-color: $color-aqua;
        }
    }
}

.conjuntos2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    .cajaConjuntos {
        &:hover {
            transform: scale(1, 1.1);
        }
    }

    .fotosConjuntos {
        width: 300px;
        height: 500px;
        margin-top: 50px;
    }

    .hortensia {
        text-align: center;

        .nombres1 {
            font-size: 20px;
        }

        .precios1 {
            font-size: 18px; 
        }

        #boton5 {
            background-color: $color-aqua;
            border-color: $color-aqua;
        }
    }

    .iris {
        text-align: center;

        .nombres1 {
            font-size: 20px;
        }

        .precios1 {
            font-size: 18px; 
        }

        #boton6 {
            background-color: $color-aqua;
            border-color: $color-aqua;
        }
    }

    .girasol {
        text-align: center;

        .nombres1 {
            font-size: 20px;
        }

        .precios1 {
            font-size: 18px; 
        }

        #boton7 {
            background-color: $color-aqua;
            border-color: $color-aqua;
        }
    }

    .narciso {
        text-align: center;

        .nombres1 {
            font-size: 20px;
        }

        .precios1 {
            font-size: 18px; 
        }

        #boton8 {
            background-color: $color-aqua;
            border-color: $color-aqua;
        }
    }

}

.talles {
    text-align: center;

    #duda {
        color: $color-lila;
        margin-top: 160px;
    }

    #tablaTalles {
        color: $color-lila;
        font-family:'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: bolder
    }

    .table-responsive {
        display: flex;
        justify-content: center;

        .table-bordered {
            padding: 10px;
            width: 45%;
        
            .textoTabla {
                text-align: center;
                height: 30px;
            }
        }
    }

}


/* Pijamas */

.pijamas1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    .cajaPijamas {
        &:hover {
            transform: scale(1, 1.1);
        }
    }
    
    .fotosPijamas {
        width: 400px;
        height: 600px;
    }

    .belladona {
        text-align: center;

        .nombres2 {
            font-size: 20px;
            
        }
    
        .precios2 {
            font-size: 18px;
        }
    
        #boton9 {
            background-color: $color-lila;
            border-color: $color-lila;
        }

    }

    .fresia {
        text-align: center;

        .nombres2 {
            font-size: 20px;
            
        }
    
        .precios2 {
            font-size: 18px;
        }
    
        #boton10 {
            background-color: $color-lila;
            border-color: $color-lila;
        }
    }


}

.pijamas2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    .cajaPijamas {
        &:hover {
            transform: scale(1, 1.1);
        }
    }

    .fotosPijamas {
        width: 400px;
        height: 600px;
        margin-top: 50px;
    }

    .peonia {
        text-align: center;

        .nombres2 {
            font-size: 20px;
            
        }
    
        .precios2 {
            font-size: 18px;
        }
    
        #boton11 {
            background-color: $color-lila;
            border-color: $color-lila;
        }
    }

    .jacinto {
        text-align: center;

        .nombres2 {
            font-size: 20px;
            
        }
    
        .precios2 {
            font-size: 18px;
        }
    
        #boton12 {
            background-color: $color-lila;
            border-color: $color-lila;
        }
    }

}


/* Sale */



.bombis {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    .cajaBombis {
        &:hover {
            transform: scale(1, 1.1);
        }
    }

    .fotosBombis {
        width: 400px;
        height: 600px;
        border: dotted 5px $color-violeta;
        animation-name: animacion_borde;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 2s;
        animation-delay: 0s;
    }

    @keyframes animacion_borde {
        0%   {border-color: $color-violeta;}
        25%  {border-color: $color-blanco;}
        50%  {border-color: $color-violeta;}
        100% {border-color: $color-blanco;}
    }

    .laurel {
        text-align: center;

        .nombres4 {
            font-size: 20px;
        }

        .precios4 {
            font-size: 18px;
        }

        #boton13 {
            background-color: $color-violeta;
            border-color: $color-violeta;
        }
    }

    .margarita {
        text-align: center;

        .nombres4 {
            font-size: 20px;
        }

        .precios4 {
            font-size: 18px;
        }

        #boton14 {
            background-color: $color-violeta;
            border-color: $color-violeta;
        }
    }

    .clavel {
        text-align: center;
        
        .nombres4 {
            font-size: 20px;
        }

        .precios4 {
            font-size: 18px;
        }

        #boton15 {
            background-color: $color-violeta;
            border-color: $color-violeta;
        }
    }

}


#promo {
    text-align: center;
    color: $color-lila;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    background-color: $color-aqua;
    margin-top: 160px;
    padding: 20px;
}

.promoPijamas1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .cajaPromo {
        &:hover {
            transform: scale(1, 1.1);
        }
    }

    .fotosPromo {
        width: 500px;
        height: 600px;
    }

    .azahar {
        text-align: center;

        .nombres3 {
            font-size: 20px;
        }

        .precios3 {
            font-size: 18px;
        }

        #boton16 {
            background-color: $color-violeta;
            border-color: $color-violeta;
        }
    }

    .lirio {
        text-align: center;

        .nombres3 {
            font-size: 20px;
        }

        .precios3 {
            font-size: 18px;
        }

        #boton17 {
            background-color: $color-violeta;
            border-color: $color-violeta;
        }
    }
}

.promoPijamas2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;

    .cajaPromo {
        &:hover {
            transform: scale(1, 1.1);
        }
    }

    .fotosPromo {
        width: 500px;
        height: 600px;
    }

    .magnolia {
        text-align: center;

        .nombres3 {
            font-size: 20px;
        }

        .precios3 {
            font-size: 18px;
        }

        #boton18 {
            background-color: $color-violeta;
            border-color: $color-violeta;
        }
    }
}


/* Sucursales */

.sucursales {
    font-family: 'Oswald', sans-serif;
    color: $color-lila;
    letter-spacing: 4px;
    font-size: 20px;
}

#contact {
    color: $color-aqua;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;
}

.cajaContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: $color-aqua;
    color: $color-blanco;
    padding-top: 10px;
    padding-bottom: 10px;
    
    #botonForm {
        background-color: $color-blanco;
        color: $color-aqua;
        border-color: $color-blanco;
        font-weight: bold;
    }

    .mapa {
        width: 400px;
        height: 500px;
    }
}

.grid {
    display: grid;
    align-content:center;
    justify-items: center;
    border: double 5px $color-violeta;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 10px;
    grid-row-gap: 20px;
    grid-template-areas: 
    "sucursal1 sucursal2"
    "direccion1 direccion2"
    "telefono1 telefono2"
    "horario1 horario2";

    #sucursal1 {
        grid-area: sucursal1;
    }
    
    #sucursal2 {
        grid-area: sucursal2;
    }
    
    #direccion1 {
        grid-area: direccion1;
    }
    
    #direccion2 {
        grid-area: direccion2;
    }
    
    #telefono1 {
        grid-area: telefono1;
    }
    
    #telefono2 {
        grid-area: telefono2;
    }
    
    #horario1 {
        grid-area: horario1;
    }
    
    #horario2 {
        grid-area: horario2;
    }
    
}

/* Version Mobile */

@media only screen and (max-width: 600px) {

    .header {
        color: $color-blanco;
        background-color: $color-aqua;
        height: 12vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        
        #header__logo {
            text-align: center;
            margin: 0px;
    
            #logo {
                width: 45px;
                height: 45px;
                margin: 0px
            }
        }
        
    }
    
    .header2 {
        color: $color-blanco;
        background-color: $color-violeta;
        height: 12vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        
        #header__logo {
            text-align: center;
            margin-left: 0px;
    
            #logo {
                width: 45px;
                height: 45px;
                margin: 0px;
            }
        }
    
    }


    .bg-lila {
        color: $color-lila;
        background-color: $color-lila;
    }


    .cajaCarrito {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        transform: none;
        margin-top: 15px;
        margin-right: 20px;

        #carrito {
            text-align: right;
            margin-right: 60px;
    
            .fotoCarrito {
                width: 40px;
                height: 40px;
                transform: translate(40px, 0px);
            }
        }
        
    
        #botonCarrito {
            transform: none;
            color: $color-aqua;
            border-color: $color-aqua;
            width: 70px;
            margin: none;
        }

    }
    
    #barra {
        margin: 0px;
        transform: translate(30px, -45px);
        width: 120px;
        height: 30px;
    }

    #botonBarra {
        transform: translate(40px, -45px);
        height: 30px;
        text-align: center;
    }

    #cajaFooter {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 0px;
        margin-left: 20px;
        justify-content: none;
        align-items: none;

        .cajaAtencion {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
    
            .telefono {
                color: $color-blanco;
                font-weight: bold;
                text-decoration: underline;
            }
    
            .infoFooter1 {
                margin: none;
                color: $color-blanco;
            }
        
            .infoFooter2 {
                margin: none;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                color: $color-blanco;
    
                #fotoTelefono {
                    display: inline;
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                    margin-bottom: 3px;
                }
            }
        }

        .cajaRedes {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            padding: 0px;
            margin-top: 10px;

            .redes {
                text-align: none;
                color: $color-blanco;
                margin: 0px;
                font-weight: bold;
                text-decoration: underline;
                display: inline-block;
            }
            
            .fotosFooter {
                text-align: none;
                margin: 0px;
                display: inline;
                padding: 0px;

                .fotosRedes {
                    display: inline;
                    padding: 0px;

                    #facebook {
                        width: 50px;
                        height: 50px;
                        margin: 0px;
                    }

                    #instagram {
                        width: 50px;
                        height: 50px;
                    }

                    #twitter {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }

    /*Conjuntos*/

    .conjuntos1 {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;

       .fotosConjuntos {
          width: 300px;
          height: 500px;
          margin-top: 50px;
        }

    }

    .conjuntos2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
 
        .fotosConjuntos {
           width: 300px;
           height: 500px;
           margin-top: 50px;
        }
    }

    /*Pijamas*/

    .pijamas1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .fotosPijamas {
            width: 300px;
            height: 500px;
            margin-top: 50px;
        }
    }

    .pijamas2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .fotosPijamas {
            width: 300px;
            height: 500px;
            margin-top: 50px;
        }
    }

    /*Sale*/

    .bombis {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .fotosBombis {
            width: 300px;
            height: 500px;
            margin-top: 50px;
        }
    }

    .promoPijamas1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .fotosPromo {
            width: 300px;
            height: 400px;
            margin-top: 50px;
        }
    }

    .promoPijamas2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;

        .fotosPromo {
            width: 300px;
            height: 400px;
        }
    }

    /*Sucursales*/

    .sucursales {
        font-family: 'Oswald', sans-serif;
        color: $color-lila;
        letter-spacing: none;
        font-size: 20px;
    }

    .grid {
        display: grid;
        align-content:center;
        justify-items: flex-start;
        grid-row-gap: 20px;
        padding: 10px;
        grid-template-areas: 
        "sucursal1"
        "direccion1"
        "telefono1"
        "horario1"
        "sucursal2"
        "direccion2"
        "telefono2"
        "horario2";
    
        #sucursal1 {
            grid-area: sucursal1;
        }
        
        #sucursal2 {
            grid-area: sucursal2;
        }
        
        #direccion1 {
            grid-area: direccion1;
        }
        
        #direccion2 {
            grid-area: direccion2;
        }
        
        #telefono1 {
            grid-area: telefono1;
        }
        
        #telefono2 {
            grid-area: telefono2;
        }
        
        #horario1 {
            grid-area: horario1;
        }
        
        #horario2 {
            grid-area: horario2;
        }
        
    }

    .cajaContacto {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: $color-aqua;
        color: $color-blanco;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 10px;
        margin-top: 50px;

        #botonForm{
            background-color: $color-blanco;
            color: $color-aqua;
            border-color: $color-blanco;
            font-weight: bold;
        }
        
    }
}

/*Version tablet*/

@media (min-width: 570px) and (max-width: 900px) {

    .header {
        height: 12vh;
    
    
        #header__envios {
            word-spacing: 15px;
            font-size: 15px;
            margin-left: 10px;
            text-align: center;

        }
        
        #header__logo {
    
            #logo {
                width: 45px;
                height: 45px;
                margin-top: 0px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        
        #header__cuotas {
            word-spacing: 15px;
            font-size: 15px;
            margin-right: 10px;
            text-align: center;
        }
    }
    
    .header2 {
        height: 12vh;

        #header__envios {
            word-spacing: 15px;
            font-size: 15px;
            margin-left: 10px;
            text-align: center;
        }
        
        #header__logo {
    
            #logo {
                width: 45px;
                height: 45px;
                margin-top: 0px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        
        #header__cuotas {
            word-spacing: 15px;
            font-size: 15px;
            margin-right: 10px;
            text-align: center;
        }
    
    }

    .cajaCarrito {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        transform: none;
        margin-top: 50px;
        margin-right: 20px;

        #carrito {
            text-align: right;
            margin-right: 60px;
    
            .fotoCarrito {
                width: 40px;
                height: 40px;
                transform: translate(40px, 0px);
            }
        }
        
    
        #botonCarrito {
            transform: none;
            color: $color-aqua;
            border-color: $color-aqua;
            width: 70px;
            margin: none;
        }

    }

    #barra {
        transform: translate(-70px, -70px);
    }
    
    #botonBarra {
        transform: translate(-70px, -70px);
    }

    .menu {
        text-align: center;
        margin-top: 50px;
        padding-inline-start: 0px;
    
        .secciones {
            text-decoration-line: none;
            word-spacing: 50px;
            font-family:'Montserrat', sans-serif;
            font-weight: bold;
            color: $color-aqua;
            &:hover {
                color: $color-lila;
            }
        }
        
        .categorias {
            display:inline; 
            padding-left:2px; 
            padding-right:2px;
        }
    }

    /*Conjuntos*/

    .conjuntos1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
 
        .fotosConjuntos {
           width: 300px;
           height: 500px;
           margin-top: 50px;
        }
    }

    .conjuntos2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
 
        .fotosConjuntos {
           width: 300px;
           height: 500px;
           margin-top: 50px;
     
        }
    }

    /*Pijamas*/

    .pijamas1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .fotosPijamas {
            width: 300px;
            height: 500px;
            margin-top: 50px;
        }
    }

    .pijamas2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .fotosPijamas {
            width: 300px;
            height: 500px;
            margin-top: 50px;
        }
    }

    /*Sale*/

    .bombis {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .fotosBombis {
            width: 300px;
            height: 500px;
            margin-top: 50px;
        }
    }

    .promoPijamas1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .fotosPromo {
            width: 300px;
            height: 400px;
            margin-top: 50px;
        }
    }

    .promoPijamas2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;

        .fotosPromo {
            width: 300px;
            height: 400px;
        }
    }

    /*Sucursales*/

    .grid {
        display: grid;
        align-content:center;
        justify-items: center;
        grid-row-gap: 20px;
        grid-template-areas: 
        "sucursal1"
        "direccion1"
        "telefono1"
        "horario1"
        "sucursal2"
        "direccion2"
        "telefono2"
        "horario2";
    
        #sucursal1 {
            grid-area: sucursal1;
        }
        
        #sucursal2 {
            grid-area: sucursal2;
        }
        
        #direccion1 {
            grid-area: direccion1;
        }
        
        #direccion2 {
            grid-area: direccion2;
        }
        
        #telefono1 {
            grid-area: telefono1;
        }
        
        #telefono2 {
            grid-area: telefono2;
        }
        
        #horario1 {
            grid-area: horario1;
        }
        
        #horario2 {
            grid-area: horario2;
        }
        
    }

    .cajaContacto {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: $color-aqua;
        color: $color-blanco;
        margin-left: 110px;
        margin-right: 110px;
        padding-top: 10px;
        margin-top: 50px;

        #botonForm {
            background-color: $color-blanco;
            color: $color-aqua;
            border-color: $color-blanco;
            font-weight: bold;
        }
        
    }

}